@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --text-primary: #403F3D;
    --text-inverse: #E1D4C9;
    --text-accent: #B0907A;
    --background-page: #E1D4C9;
    --background-container: #665F55;
    --background-overlay: rgb(64 63 61 / 80%);
    --border-primary: #C1B6AD;
    --border-inverse: #665F55;
    --dark-text-primary: #E1D4C9;
    --dark-text-inverse: #E1D4C9;
    --dark-text-accent: #B0907A;
    --dark-background-page: #292826;
    --dark-background-container: #403F3D;
    --dark-background-overlay: rgb(41 40 38 / 80%);
    --dark-border-primary: #665F55;
    --dark-border-inverse: #C1B6AD;
}